.updatePasswordContainer
{
    display: flex;
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.updatePasswordBox{
    background-color: white;
    box-sizing: border-box;
    width: 30vw;
    height: 75vh;
    padding:3vmax;
    overflow:hidden;
}
.Heading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
  }
  
  .updatePasswordForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin:auto;
      padding:1vmax;
      justify-content:space-evenly;
      height: 70%;
      
  }

  .updatePassword{
      display: flex;
      align-items:center;
      width: 100%;
  }

  .updatePassword > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax ;
    outline: none;
  }
  .updatePassword > svg {
      position:absolute; 
      font-size: 1.6vmax;
      transform:translateX(1vmax);
  }

.Btn{
    border: none;
    background-color: tomato;
    color:white;
    font:300 1vmax "Roboto";
    width: 100%;
    padding:0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

  .Btn:hover {
    background-color: rgb(179, 66, 46);
  }
  
  @media screen and (max-width: 600px) {
    .updatePasswordContainer
    {
        background-color: white;
       
    }
    .updatePasswordBox{
        width: 90vw;
        height: 100vh;
        padding:1vmax;
    }
    .Heading {

        margin-top:10vmax;
        font: 400 1.3vmax "Roboto";
      }
      
      .updatePasswordForm{
       
          padding:1vmax 5vmax;
      }
    
      .updatePassword > input {
        padding: 2vmax 5vmax;
      font: 300 1.7vmax;
      }
      .updatePassword > svg {
          font-size: 2.6vmax;
      }
    
    .Btn{
        padding:2.6vmax;
    }
    
  }